<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Welcome to Placement Preparation Platform 🚀</h1>
<h2>Welcome to Dashboard</h2>

<form method="POST" action="/add_problem">
    <input type="text" name="topic" placeholder="Topic (Arrays, Strings)" required>
    <input type="text" name="problem" placeholder="Problem Name" required>
    <button type="submit">Add Problem</button>
</form>

<hr>

<h3>My DSA Problems</h3>

<h3>Progress</h3>

<div style="background:#ddd; border-radius:20px; width:100%; height:25px;">
    <div style="
        width: {{ percent }}%;
        background:#28a745;
        height:25px;
        border-radius:20px;
        text-align:center;
        color:white;
        font-weight:bold;
    ">
        {{ percent }}%
    </div>
</div>

<p>{{ solved }} / {{ total }} problems solved</p>

<table border="1">
    <tr>
        <th>Topic</th>
        <th>Problem</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for p in problems %}
    <tr>
        <td>{{ p[1] }}</td>
        <td>{{ p[2] }}</td>
        <td>{{ p[3] }}</td>
        <td>
        <a href="{{ url_for('toggle_status', problem_id=p[0]) }}">
            {{ p[3] }}
        </a>
        </td>

<td>
  <a href="{{ url_for('delete_problem', problem_id=p[0]) }}">Delete</a>
</td>

    </tr>
    {% endfor %}
</table>


<ul class="menu">
    <li><a href="{{ url_for('dsa') }}">📘 DSA Practice</a></li>
    <li><a href="{{ url_for('aptitude') }}">🧮 Aptitude</a></li>
    <li><a href="{{ url_for('core') }}">💻 Core Subjects</a></li>
    <li><a href="{{ url_for('mock') }}">📝 Mock Tests</a></li>
    <li><a href="{{ url_for('progress') }}">📊 Progress</a></li>
</ul>

<br>

<a href="{{ url_for('logout') }}">
    <button>Logout</button>
</a>

</body>
</html>

