<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <!-- <script src="../static/js/script.js"></script> -->
    <title>DSA Tracker</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

<h2>DSA Practice Tracker</h2>

<table>
    <tr>
        <th>Topic</th>
        <th>Difficulty</th>
        <th>Status</th>
    </tr>
    <tr>
        <td>Arrays</td>
        <td>Easy</td>
        <td>Solved</td>
    </tr>
</table>

</body>
</html>
